MBEDENVDIR=$HOME/mbed-dev-env
PATH_add $MBEDENVDIR/mbed-cli/bin/
PATH_add $MBEDENVDIR/vscode/bin/
PATH_add $MBEDENVDIR/gcc-arm-none-eabi/bin/
PATH_add $MBEDENVDIR/openocd/bin/bin
PATH_add $MBEDENVDIR/jlink
echo 'Mbed environment with VSCode has been setup and is ready to be used.'